@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

#calculator{
    margin: auto;
    width:50%;
    border: 3px solid black;
    padding: 10px;
}

.col{

}

.row{

}

.btn{
    
}