@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

#calculator{
    margin: auto;
    width:50%;
    height: auto;
    border: 3px solid black;
    padding: 10px;
    
}

#display{
    background-color: black;
    color: antiquewhite;
}

.btns{
    column-count: 2;
}
.nums{
    column-count: 1;
}
#columns{
    column-count: 3;
}


.funs{

}

.btn{

}